<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-calendar"></span> Calendar</a>
      </li>
      <li>
        <a href="/weather"><span class="glyphicon" id="weatherIcon"></span> Weather</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><i class="ionicons ion-clock"></i> <span id="time"></span></a>
      </li>
      <li class="navbar-right">
        <a href="#"><span id="currentTemp"></span></a>
      </li>
    </ul>
  </div>
</nav>
<script>
$(document).ready(function() {
  var setTime = function() {
    var now = new moment();
    $('#time').text(now.format("hh:mm:ss"));
  }
  setInterval(setTime ,1000);

  $.simpleWeather({
    location: 'Corona, CA',
    woeid: '',
    unit: 'f',
    success: function(weather) {
      html = weather.temp+'&deg;'+weather.units.temp;

      $("#currentTemp").html(html);
    },
    error: function(error) {
      $("#currentTemp").html('');
    }
  });
});
</script>
