<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type='text/javascript'>
$(document).ready(function() {
});
</script>
</head>
<body>
  <% include ../partials/nav.ejs %>
<div class="container">
  <div class="row">
    <div id="weather"></div>
  </div> <!-- row -->
</div><!--container-->
</body>
</html>
